html, body{
    margin: 0;
    height: 100%;
}

body {
    background: #efefef;
}

.backgrounded-image {
    max-width: 100%;
    max-height: calc(100vh - 100px);
    display: inline-block;
}

.img-box {
    margin: 2px 5px;
}

.img-box a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.gallery-toggle {
    cursor: pointer;
}

.detail-box {
    text-align: center;
}

.detail-box img, .detail-box video {
    max-width: 100%;
    max-height: calc(100vh - 100px);
    object-fit: contain;
}

li {
    display: inline-block;
    margin: 0 10px;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

.mui-appbar {
    margin-bottom: 10px;
}


.material-icons {
    vertical-align: middle;
}

.subs-dropzone {
    vertical-align: middle;
    border: 3px dashed #ccc;
    height: 75px;
    text-align: center;
    color: #ccc;
    margin-bottom: 15px;
}

.dropzone {
    vertical-align: middle;
    border: 3px dashed #ccc;
    height: 200px;
    text-align: center;
    color: #ccc;
}

.dropzone-active {
    border: 3px dashed #999;
}

.upload-message {
    position: relative;
    top: 35%;
}

.upload-bar {
    height: 5px;
    background-color: #a9d1f2;
}

.upload-item {
    margin-top: 10px;
    padding: 20px;
    background: #e5e5e5;
}

.upload-bar div {
    height: 100%;
    background-color: #2196F3;
}

.albums {
    text-align: center;
}

.album {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.album-box {
    position: relative;
    margin: 5px;
    height: 200px;
}

.album-box img {
    height: 200px;
}

.album-box div {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    background: #333;
    opacity: 0.7;
}

.album-box span {
    color: #fff;
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.app-bar-wrap {
    padding: 0 15px;
}

.menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 200;
}

.menu-link {
    padding: 20px;
    color: #2196f3;
    cursor: pointer;
}

.logout-link {
    position: absolute;
    bottom: 0;
    padding: 30px 20px;
    border-top: 1px solid #efefef;
    color: #2196f3;
    cursor: pointer;
}

.detail-name {
    width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.modal {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}

.disclaimer {
    text-align: center;
    margin: 10px;
}

@media (max-width: 850px) and (max-height: 850px) {
    .img-box {
        margin: 1px 2px;
    }

    .menu {
        width: 300vh;
    }
}
